* {
  margin: 0;
  padding: 0;
}

.d-flex {
    display: flex;
}

.h-60 {
    height: 60px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.pb-15 {
    padding-bottom: 20px;
}

.big-letters {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    margin-bottom: 10px;
}

.mr-20 {
    margin-right: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #303646;
    font-size: 16px;
}

a {
    text-decoration: none;
}

header {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    align-items: center;
}

.logo img {
    width: 30px;
    margin-right: 15px;
}

.nav-wrap {
    list-style: none;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    padding: 15px 20px;
}

.nav-item a {
    color: #303646;
}

.nav-item a:hover {
    color: grey;
}

main {
    width: 100%;
}

.book-container-1 {
    align-items: center;
    height: 400px;
    width: 100%;
    background-image: url(/images/banner.png);
    background-size: 100%;
    background-position: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
}

.book-container-1 img {
    height: 200px;
    width: 150px;
    margin-top: 30px;
}

.book-container-1 h1 {
    font-size: 36px;
    margin-bottom: 8px;
    letter-spacing: 1.1px;
}

.book-container-1 span {
    margin-bottom: 30px;
}

.book-container-1 a {
    justify-content: center;
    align-items: center;
    width: 140px;
    font-weight: bold;
    height: 40px;
    color: white; 
    background: rgba(0, 0, 0, 0); 
    border-radius: 8px; 
    border: 2px solid white; 
}

.book-container-1 a:hover {
    color: black;
    background-color: white;
}

.advantages-container {
    flex-wrap: wrap;
    height: 100%;
    margin-top: 45px;
    justify-content: center;
}

.advantages {
    width: 1000px;
    justify-content: space-around;
}

.advantages div {
    width: 300px;
    line-height: 1.7;
    margin-bottom: 45px;
}

.grey-background {
    background-color: #f7f7f7;
    width: 100%;
    justify-content: center;
}

.about {
    height: 100%;
    margin: 40px;
    width: 1000px;
    justify-content: space-around;
}

.content {
    width: 400px;
    line-height: 1.7;
    padding-top: 0px;
}

.content h2 {
    margin-top: 0px;
}

.about img {
    height: 220px;
}

.places-for-rest-container {
    justify-content: center;
}

.form {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
}

.form fieldset {
    border: 2px solid #01dfad;
    width: 400px;
}

legend {
    margin-left: 15px;
}

.form .big-letters {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form legend {
    color: #01dfad;
    font-size: 20px;
    font-weight: bold;
}

.form-box-1 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 25px;
    align-items: center;
    justify-content: space-between;
}

.form-box-1  select{
    border-radius: 8px;
    height: 25px;
    width: 120px;
    margin-right: 25px;
    background-color: white;
    border: 1px solid #e4e4e4;
}

.form-box-2 {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}

.form-box-2 input {
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e4e4e4;
    height: 25px;

}

.contacts {
    justify-content: space-between;
    height: 20px;
    align-items: center;
    padding: 10px;
}

.form button {
    margin-top: 10px;
    font-weight: bold;
    width: 140px;
    height: 40px;
    color: #01dfad;
    background: rgba(0, 0, 0, 0); 
    border-radius: 8px; 
    border: 1px solid #01dfad; 
    margin-right: 260px;
    margin-bottom: 55px;
}

.form button:hover {
    background-color: #01dfad;
    color: white;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    background-color: #303646;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.symbol {
    font-size: 10px;
}

.column {
    flex-direction: column;
    margin-bottom: 55px;
    margin-top: 55px;
}

.column a {
    color: white;
}

.column a:hover {
    color: grey;
}

.mt-ml {
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
}