:root {
--header-panel-height: 60px;
}

* {
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
}

body {
  padding-top: var(--header-panel-height);
}

.d-flex {
    display: flex;
}

.h-60 {
    height: var(--header-panel-height);
}

.mt-10 {
    margin-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.header-block {
    display: flex;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.mr-20 {
    margin-right: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.align-items-center {
    align-items: center;
}

.fs-10 {
    font-size: 10px;
}

.mt-45 {
    margin-top: 45px;
}

.w-100 {
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #303646;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #303646;
}

a:hover {
    color: grey;
}

.color-white {
    color: white;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.header-panel {
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--header-panel-height);
    background-color: white;
}

.logo {
    margin-right: 15px;
    width: 30px;
}

.list-style-none{
    list-style: none;
}

.pr-40 {
    padding-right: 80px;
}

.pr-20 {
    padding-right: 20px;
}

.book-container {
    background-image: url(/images/banner.png);
    background-size: 100%;
    background-position: center;
}

.white-bold-font {
    color: white;
    font-weight: bold;
}

.fs-12 {
    font-size: 12px;
}
.book-img {
    height: 200px;
    width: 150px;
}

.headline {
    margin-bottom: 8px;
    letter-spacing: 1.1px;
    font-size: 36px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    font-weight: bold;
    height: 40px; 
    border-radius: 8px; 
    border: 2px solid;
}

.btn-decor-white {
    color: white; 
    background: rgba(0, 0, 0, 0); 
    border-color: white;
}

.btn-decor-white:hover {
    color: black;
    background-color: white;
}

.w-1000 {
    width: 1000px;
}

.w-300 {
    width: 300px;
}

.content-box {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.grey-background {
    background-color: #f7f7f7;
}

.p-40 {
    padding-top: 40px;
    padding-bottom: 40px;
} 

.box-content {
    width: 400px;
    line-height: 1.7;
}

.h-220 {
    height: 220px;
}

.form-font {
    font-size: 14px;
    font-weight: bold;
}

fieldset {
    width: 400px;
    border: 2px solid #67efd6;
}

.ml-15 {
    margin-left: 15px;
}

.mt-mb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.legend-decor {
    color: #67efd6;
    font-size: 20px;
    font-weight: bold;
}

.pt-15 {
    padding-top: 15px;
}

.form-box-1 {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 35px;
    justify-content: space-between;
}

.form-box-2 {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.fields-structure {
    width: 120px;
    height: 25px;
}

.fields-decor {
    border-radius: 8px;
    background-color: white;
    border: 1px solid #e4e4e4;
}

.h-25 {
    height: 25px;
}

.btn-decor-aquamarine {
    color: #67efd6;
    background: rgba(0, 0, 0, 0); 
    border-color: #67efd6; 
}

.btn-decor-aquamarine:hover {
    background-color: #67efd6;
    color: white;
    cursor: pointer;
}

.dark-background {
    background-color: #303646;
}

.pt-pb-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}

.footer-str-content {
    flex-direction: column;
    margin-left: 40px;
    margin-top: 15px;
}